<div class="container">

    <h3>Student Database Management</h3>
    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Age</td>
                <td>City</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr>
                <td data-label="ID">{{this.Id}}</td>
                <td data-label="Name">{{this.Name}}</td>
                <td data-label="Age">{{this.Age}}</td>
                <td data-label="City">{{this.City}}</td>
                <td data-label="Edit">
                    <a href="/edituser/{{this.Id}}" class="edit">Edit</a>
                </td>
                <td data-label="Delete">
                    <a onclick="return confirm('Are you sure?')" href="/deleteuser/{{this.Id}}"
                        class="delete">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>