<h3>Student Database Management</h3>
<p><a href="/adduser" class="addBtn">Add User</a></p>
<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Age</td>
            <td>City</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
            <tr>
                <td>{{this.Id}}</td>
                <td>{{this.Name}}</td>
                <td>{{this.Age}}</td>
                <td>{{this.City}}</td>
                <td><a href="/edituser/{{this.Id}}" class="edit">Edit</a></td>
                <td><a onclick="return confirm('Are you sure?')"  href="/deleteuser/{{this.Id}}" class="delete">Delete</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>